@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  @apply m-0 p-0;
}

:root {
  --cor-principal: #00A9FF;
  --cor-secundario: #89CFF3;
  --cor-terciaria: #A0E9FF;
  --cor-quartenaria: #CDF5FD;

  --fonte-principal: "Poppins", sans-serif;
}

body {
  @apply font-[var(--fonte-principal)] bg-[var(--cor-secundario)];
}

header {
    @apply bg-[var(--cor-principal)] p-4 pt-[1rem] pl-[2%] pr-[2%] pb-[0.1%] mb-[1%];
}

.div_cabecalho {
    @apply flex justify-between items-center w-full;
}

.titulo_cabecalho {
    @apply text-[3rem] text-white text-left m-0;
}

.botao_icones_cabecalho {
  @apply bg-transparent border-none cursor-pointer transition-transform duration-300 ease-in-out hover:scale-125;
}

.icones_cabecalho {
  @apply w-[3vw]; 
}

.div_botoes_cabecalho {
  @apply flex items-center gap-2;
}
/*Menu*/
.ul_links {
    @apply flex list-none gap-[2%] pb-[1%] bg-[var(--cor-principal)] mb-[1%];
}

.links {
    @apply relative no-underline text-white transition-all duration-300 ease-in-out;
}

.links::after {
    content: '';
    @apply absolute w-0 h-[2px] -bottom-1 right-0 bg-white transition-all duration-300 ease-in-out;
}

.links:hover::after {
    @apply w-full left-0 bg-white;
}
/* Rodape */
footer {
    @apply mt-[3%] bg-[var(--cor-principal)] py-[2%] flex flex-col items-center shadow-md;
}

.copyright {
    @apply mt-[2%] text-white text-sm;
}
/* PaginaInicial */
#container_main {
    @apply bg-[var(--cor-quartenaria)] max-w-[95vw] mx-auto shadow-[0px_2px_7px_rgba(0,0,0,0.185)] rounded-[5px];
}

#container_quem_somos,
#container_diagnostico,
#container_faq,
#container_contato {
    @apply pt-[2%] pb-0 pl-[2%];
}

#container_serviços,
#container_escolher_porto,
#container_usar_site {
    @apply pt-[4%] pb-0 pl-[2%];
}

.titulo_main {
    @apply text-[2.1rem];
}

.subtitulo {
    @apply mt-1 text-[1.7rem];
}

.descritivo {
    @apply mt-1 text-[1.1rem] w-[90vw];
}

.texto_imagem {
    @apply flex;
}

.descritivo01 {
    @apply w-[40vw] text-justify;
}

.imagem01 {
    @apply rounded-[10px] border-[3px] border-[var(--cor-principal)] w-[35vw] ml-[10%];
}

.lista_main {
    @apply list-none;
}

.li_main {
    @apply flex items-center mt-2 text-[1.1rem] pb-2;
}

.icone_li {
    @apply mr-1;
}
/* Diagnostico */

#container_main {
    @apply mt-[3%];
}

.header_diagnostico {
    @apply mb-[3%];
}

.titulo_main, .subtitulo {
    @apply mb-[1%];
}

.subtitulo {
    @apply mt-[2%];
}

.descritivo {
    @apply text-justify mb-[1%];
}

#id_relatar_problema {
    @apply w-[85vw] h-[15vh] p-5 border-2 border-black rounded-md text-[1.1rem] mb-2;
}

.botao_enviar {
    @apply my-[2%] bg-[var(--cor-principal)] p-5 w-[10vw] border-none rounded-lg text-[1.3rem] text-white font-bold cursor-pointer shadow-md transition-transform duration-300 ease-in-out;
}

.botao_enviar:hover {
    @apply scale-110;
}

#resposta_botao {
    @apply mt-[1%] mb-[2%] pb-[2%] text-justify;
}

.form_diagnostico {
    @apply mt-[1%] ml-[2%];
}

.form_diagnostico label {
    @apply text-[1.4rem];
}

.div_form {
    @apply flex flex-col mt-[2%];
}

.div_form input {
    @apply w-[50vw];
}

.div_form select {
    @apply w-[20vw] mt-2;
}

.div_btn {
    @apply mt-[2%];
}

.btn_enviar_problema{
    @apply bg-[var(--cor-principal)] text-white inline-block relative mb-[2%] py-[1%] px-[2%] rounded transition-transform duration-300;
}

.btn_enviar_problema:hover {
    @apply scale-110;
}

/* faq */
.faq_descritivo4 {
    @apply pb-[4%];
}

/* Contato */
#box_icones {
    @apply mt-[2%];
}

.flex_contato {
    @apply flex items-center gap-5;
}

.flex_contato2 {
    @apply mt-[1%];
}

.flex_contato > img {
    @apply w-[4vw];
}

.flex_contato > p {
    @apply text-[1.4rem];
}

#dados_contato {
    @apply mt-[2%];
}

.texto_dados {
    @apply text-[1.5rem];
}

#id_nome_usuario {
    @apply w-[40vw] p-2.5 border-2 border-black rounded-md text-[1.1rem] mb-2;
}

#id_mensagem_usuario {
    @apply w-[80vw] h-[15vh] p-5 border-2 border-black rounded-md text-[1.1rem] mb-2;
}

/* Integrantes */
.integrante {
    @apply bg-white mt-[2%] p-2.5 w-[32vw] rounded-md shadow-md;
}

#container_main_integrantes {
    @apply bg-[var(--cor-quartenaria)] max-w-[95vw] mx-auto shadow-md rounded-md;
}

.imagem_dados {
    @apply flex gap-2.5;
}

.imagem_dados img {
    @apply w-[13vw];
}

.dados_integrante {
    @apply text-[1.2rem] flex flex-col gap-5;
}

#container_integrantes {
    @apply py-[2%] pl-[2%];
}

.link_github {
    @apply relative no-underline text-[var(--cor-principal)] transition-all duration-300 ease-in-out;
}

.link_github::after {
    content: '';
    @apply absolute w-0 h-[2px] -bottom-1 right-0 bg-[var(--cor-principal)] transition-all duration-300 ease-in-out;
}

.link_github:hover::after {
    @apply w-full left-0 bg-[var(--cor-principal)];
}

/* Conta */
#container_main_conta {
    @apply bg-[var(--cor-quartenaria)] max-w-[95vw] mx-auto shadow-md rounded-md;
}

#container_contato {
    @apply pt-[2%] pl-[2%];
}

.titulo_conta {
    @apply text-[2.1rem] pt-[1%] pl-[2%];
}

.texto_conta {
    @apply pt-[1%] pl-[2%] text-[1.3rem];
}

.ul_conta {
    @apply list-none pt-[2%] pl-[2%];
}

.ul_conta > li {
    @apply text-[1.6em] pb-[3%];
}

.botoes_conta{
    @apply flex gap-[10px]
}

.link_editar_conta {
    @apply bg-[var(--cor-principal)] text-white inline-block relative ml-[2%] mb-[2%] py-[1%] px-[2%] rounded transition-transform duration-300;
}

.link_editar_conta:hover {
    @apply scale-110;
}

.btn_excluir_conta {
    @apply bg-red-500 text-white inline-block relative ml-[2%] mb-[2%] py-[1%] px-[2%] rounded transition-transform duration-300;
}

.btn_excluir_conta:hover {
    @apply scale-110;
}

/* Login */

.container_login{
    @apply bg-[var(--cor-quartenaria)] max-w-[70vw] mx-auto mt-[5%] rounded-[15px] shadow-[0px_2px_7px_rgba(0,0,0,0.185)];
}

.titulo_form {
    @apply text-[var(--cor-principal)] text-center p-[10px] text-[3em];
}

.div_texto_login {
    @apply mt-[2%] mx-[5%] text-[var(--cor-principal)] text-[1.2em] font-normal pb-[5%];
}

.link_form {
    @apply relative no-underline text-[#688E99] transition-all duration-300 ease-in-out;
}

.link_form::after {
    content: '';
    @apply absolute w-0 h-[2px] block mt-[1px] right-0 bg-[#688E99] transition-all duration-300 ease-in-out;
}

.link_form:hover::after {
    @apply w-full left-0 bg-[#688E99];
}

form {
    @apply mt-[3%];
}

.texto_form {
    @apply flex text-[1.8em] mt-[2%];
}

.input_login {
    @apply w-[25vw] h-[5vh] text-[1.3em] pl-[1%] mt-[1%] border-2 border-gray-700;
}

.button {
    @apply bg-[var(--cor-principal)] border-none text-white text-[1.7em] mt-[2%] p-[1.5%] w-[11vw] rounded-[20px] shadow-[0px_2px_7px_rgba(0,0,0,0.185)] transition-transform duration-300 ease-in-out;
}

.button:hover {
    @apply scale-[1.1];
}

/* Cadastro */
.container_cadastro {
    @apply bg-[var(--cor-quartenaria)] max-w-[70vw] mx-auto mt-[5%] mb-[2%] rounded-[15px] shadow-[0px_2px_7px_rgba(0,0,0,0.185)];
}

.titulo_form_cadastro {
    @apply text-[var(--cor-principal)] text-center p-[10px] text-[3em];
}

.div_texto_cadastro {
    @apply mt-[2%] mx-[5%] text-[var(--cor-principal)] text-[1.2em] font-normal pb-[5%];
}

.link_form_cadastro {
    @apply relative no-underline text-[#688E99] transition-all duration-300 ease-in-out;
}

.link_form_cadastro::after {
    content: '';
    @apply absolute w-0 h-[2px] block mt-[1px] right-0 bg-[#688E99] transition-all duration-300 ease-in-out;
}

.link_form_cadastro:hover::after {
    @apply w-full left-0 bg-[#688E99];
}

form {
    @apply mt-[3%];
}

.texto_form_cadastro {
    @apply flex text-[1.8em] mt-[2%];
}

input {
    @apply w-[35vw] h-[5vh] text-[1.3em] pl-[1%] mt-[1%];
}

.campos_obrigatorios {
    @apply text-black text-[1rem];
}

.button {
    @apply bg-[var(--cor-principal)] border-none text-white text-[1.7em] mt-[3%] p-[2%] w-[15vw] rounded-[20px] shadow-[0px_2px_7px_rgba(0,0,0,0.185)] transition-transform duration-300 ease-in-out;
}

.button:hover {
    @apply scale-[1.1];
}